:root{
  --sqeez-level: 90%;
}

@keyframes dance0 {
  from{
    height:100%;
    width:100%;
  }
  50%{
    height:var(--sqeez-level);
    width:var(--sqeez-level);
  }
  to{
    height:100%;
    width:100%;
  }
}

@keyframes dance1 {
  from{
    height:var(--sqeez-level);
    width:100%;
  }
  50%{
    height:100%;
    width:var(--sqeez-level);
  }
  to{
    height:var(--sqeez-level);
    width:100%;
  }
}

@keyframes dance2 {
  from{
    transform:skewX(15deg);
    width:100%;
  }
  50%{
    transform:skewX(-15deg);
    width:var(--sqeez-level);
  }
  to{
    transform:skewX(15deg);
    width:100%;
  }
}

@keyframes dance3 {
  from{
    height:100%;
    width:100%;
    transform: rotate3d(0, 1, 0, 0deg);
  }
  50%{
    height:var(--sqeez-level);
    width:var(--sqeez-level);
  }
  to{
    height:100%;
    width:100%;
    transform: rotate3d(0, 1, 0, 360deg);
  }
}
