@media screen and (max-width: 479px) {

  :root{
  	--icon-size: 90px;
  	--icon-font-size : 32px;
  	--icon-padding-RL: 70px;
  }

  .infocard{
  	position: absolute;
  	left: var(--icon-padding-RL);
  	bottom: 0;
  	width: 230px;
  	height: 250px;
  }

  .infotext{
  	margin-left: 10px;
  	font-family: "Gilbeot";
  	font-size: 22px;
  	text-align: left;
  	line-height: 28px;
  }

}
