:root{
	--sns-icon-size	: 44px;

	--line-height		: 40px;
	--spacing				: 40px;
	--spacing-twice	: 80px;

	--title-size 		: 60px;
	--font-size 		: 24px;
	--text-color		: #5F6368;

	--ani-duration : 1.3s;
}

@font-face {
    src: url("/fonts/Noto_Sans/NotoSansKR-Thin.otf");
    font-family: 'Noto_Sans-Thin';
}

@font-face {
    src: url("/fonts/Noto_Sans/NotoSansKR-Light.otf");
    font-family: 'Noto_Sans-Light';
}

@font-face {
    src: url("/fonts/Noto_Sans/NotoSansKR-Regular.otf");
    font-family: 'Noto_Sans-Regular';
}

@font-face {
    src: url("/fonts/Noto_Sans/NotoSansKR-Medium.otf");
    font-family: 'Noto_Sans-Medium';
}

*{
	margin					: 0;
	padding					: 0;

	-ms-overflow-style: none;
	scrollbar-width	: node;
}

*::-webkit-scrollbar{
	display					: none;
}

body{
	top 						: 0px;
	position				: absolute;
	overflow				: hidden;
	width						: 100%;
	height					: 100%;
	background			: linear-gradient(
											270deg,
											rgba(83, 83, 83, 0.2) 0%,
											rgba(255, 255, 255, 0) 19.87%
											), #FFFFFF;
}

a{
	text-decoration	: none;
}

.txt{
	word-break			:break-all;
	font-family			: 'Noto_Sans-Thin';
	color						: var(--text-color);
	letter-spacing 	: -0.1px;
	line-height			: var(--line-height);
	font-size				: var(--font-size);
}

.btn:hover{
	opacity					: 0.7;
	cursor					: pointer;
}

/* introduce */

.introduce{
	left						:0;
	width						: 480px;
	height					: 100%;
	text-align			: left;
}


.title{
	width 					: 400px;
	font-family			: 'Noto_Sans-Regular';
	/* font-family			: 'Noto_Sans-Thin'; */
	letter-spacing	: 1.2px;
	color 					: #535353;
	font-size 			: var(--title-size);
	font-weight			: 400;
	line-height			: 72px !important;

	margin-top			: var(--spacing);
	margin-left			: var(--spacing);
}

.subtext{
	margin-top			: 28px;
	margin-left			: var(--spacing);
	padding-left		: 6px;
	font-size				: 28px;
	line-height			: 52px;
}

/* bottom */

.bottom{
	position: absolute;
	bottom: 0;

	width: 100%;
	height: 50%;

	transition-duration: var(--ani-duration);
}

.icons{
	position				: absolute;
	right						: var(--spacing);
	bottom					: var(--spacing-twice);

	height 					: 80px;
	width 					: auto;
}

.fa{
	float						: right;
	padding					: 20px;

  width						: 20px;
	height					: 40px;

  text-align			: center;
  text-decoration	: none;
}

.icon{
	color						: var(--text-color) !important;
	font-size				: var(--sns-icon-size) !important;
}

.mail{
	position				: absolute;
	right						: var(--spacing);
	bottom					: var(--spacing);

	text-align			: right;
	font-size				: var(--font-size);
}

/* see_more */

.see_more{
	position				: absolute;
	right						: var(--spacing);
	top 						: 40%;

	width  					: 80px;
	height  				: 80px;

	text-align			: right;
	font-size				: var(--font-size);
	transition-duration: var(--ani-duration);
}

.see_more_icon{
	position				: absolute;
	top 						: 20px;

	width  					: 80px;
	height  				: 80px;

	background-image: url("https://img.icons8.com/external-dreamstale-lineal-dreamstale/32/000000/external-left-arrow-arrows-dreamstale-lineal-dreamstale-7.png");
	background-repeat: no-repeat;
	background-position: center;

	animation-name: ani_see_more;
	animation-duration: var(--ani-duration);
	animation-iteration-count: infinite;
}

@keyframes ani_see_more{
  from{
		opacity: 1.0;
			transform		: translate(15%, 0);
  }
  to{
		opacity: 0;
		transform			: translate(-40%, 0);
	}
}

/* contents */
.contents{
	position				: absolute;
	right						: 0;
	top 						: 0;
	padding-top			: 30px;
	padding-right		:	100px;

	width 					: 0;
	height					: 100%;

	text-align: left;
	transition-duration: 0.1s;

	overflow-y: auto;

	opacity: 0;
	background			: linear-gradient(
											270deg,
											rgba(83, 83, 83, 0.2) 0%,
											rgba(255, 255, 255, 0) 75%
											);
	/* background-color: red; */
}

.contents::webkit-scrollbar{
	display: visible;
}

.content{
	display					: inline-block;
	pointer-events 	: none;
	height 					: 300px;
	margin					:	1%;

	/* border-style		: solid;
	border-width 		: 1px;
	border-color 		: var(--text-color); */
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-size	: cover;
	background-position: center;

	text-align: center;
	opacity: 0;
	transition-duration: var(--ani-duration);
	transition-delay: 0.3s;
}

.content_black{
	cursor					: pointer;
	padding-top			: 125px;

	width						: 100%;
	height					: 175px;

	font-size: 36px;
	background-color: #202124;

	color						: white;
	opacity					: 0;
	transition-duration: 0.3s;
}

.content_black:hover{
	opacity					: 0.7;
}

/* detail page */
.detail_background{
	position				: absolute;
	top 						: 0;
	right 					: var(--spacing);
	padding-top 		: 20px;

	height 					: 100%;

	text-align: center;
}

.detail_div{
	display					: inline-block;
	margin-top 			: 32px;

	width						: 90%;
	height  				: 380px;

	text-align			: left;
}

.detail_listhead{
	font-family			: 'Noto_Sans-Regular';
	margin-bottom		: 16px;
}

/* loading */

.loading {
	position				: fixed;
	display					: block;
	top							: 0px;
	left						: 0px;

	z-index					: 99;
	width						: 90%;
	height					: 100%;

	opacity					: 0.7;
	background-color: #ffffff;

	text-align			: center;
}

.loading-image {
	position				: absolute;
	top							: 50%;
	left						: 50%;

	z-index					: 100;
}
