:root{
	--icon-size: 90px;
	--icon-font-size : 32px;
	--icon-padding-RL: 80px;
}

*{
	font-family: 'Gilbeot';
	margin: 0;
	padding: 0;

	text-align: center;
	font-size: inherit;
	letter-spacing : 0.3px;
}

@font-face {
    src: url("/fonts/Gilbeot/Gilbeot.woff");
    font-family: "Gilbeot";
}

@font-face {
    src: url("../fonts/Gilbeot_Rainbow/Gilbeot_Rainbow.otf");
    font-family: "Gilbeot_Rainbow";
}

@font-face {
    src: url("../fonts/Gilbeot_TG/Gilbeot_TG.otf");
    font-family: "Gilbeot_TG";
}


.topbar
{
		text-align: center;
		background-image: url("../resource/imgs/topframe.png");
		background-size: 45px 100%;
		z-index : 1;
		position: absolute;
		top: 0px;
		width: 100%;
		height: 60px;
}


.barmiddle{

		width: 400px;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
}
.file{
	display: inline-block;
	text-align: center;
	background-image: url("../resource/imgs/top_files.png");
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-color: white;
	background-position: center;
	border-radius: 10px;
	left: 0px;
	width: 70px;
	height: 90%;
}
.edit{
	display: inline-block;
	text-align: center;
	background-image: url("../resource/imgs/top_folders.png");	background-size: auto 100%;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-color: white;
	background-position: center;
	border-radius: 10px;
	left: 120px;
	width: 70px;
	height: 90%;
}
.home{
	z-index: 3;
	display: block;
	background-image: url("../resource/imgs/home.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 20px;
	width: 70px;
	height: 90%;
}
.dance{
	z-index: 3;
	display: block;
	background-image: url("../resource/imgs/dance_play.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	right: 30px;
	width: 50px;
	height: 90%;
}

.music{
	z-index: 3;
	display: block;
	background-image: url("../resource/imgs/music_play.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	right: 90px;
	width: 50px;
	height: 90%;
}


.loading {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	display: block;
	opacity: 0.7;
	background-color: #fff;
	z-index: 99;
	text-align: center;
}
.loading-image {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
}

.icon{
	pointer-events: none;
	width: 100%;
	height: 100%;
	margin-bottom: 10px;

	animation-duration: 1.6s;
 	animation-iteration-count: 0;
}

.background{
	background: url('http://testbed.nicon.nl/img/_FBs3b.svg') repeat;
  background-size: 8px 8px;

	z-index: 0;
	top : 0px;
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.folders{
	z-index: 0;

	float: right;
	width: auto;
	height: auto;
	margin-top: 100px;
	margin-right : var(--icon-padding-RL);
	font-size : var(--icon-font-size);
}

.folder{
	margin-bottom : 70px;
	width: var(--icon-size);
	height: var(--icon-size);
}

.trash{
	position : absolute;
	top : 100px;
	left : var(--icon-padding-RL);
	width: var(--icon-size);
	height: var(--icon-size);
	font-size : var(--icon-font-size);
}

.touchblock{
	background-color: rgba(255,255,255,0.5);
	/*backdrop-filter: blur(4px);*/
	position: absolute;
	width: 100%;
	height: 100%;
}

.infocard{
	position: absolute;
	left: var(--icon-padding-RL);
	bottom: 0;
	width: 230px;
	height: 250px;
}

.infotext{
	margin-left: 10px;
	font-family: "Gilbeot";
	font-size: 24px;
	text-align: left;
	line-height: 32px;
}

.copyright
{
	background-image: url("../resource/imgs/bottomframe.png");
	background-size: 45px 100%;

	z-index: 1;
	position: absolute;
	width: 100%;
	height: 60px;
	bottom: 0px;
}
