extend layout.pug

block content
	body
		div.introduce
			a(href="/")
				h1.btn.txt.title(href="/")
					| BAEK. <br> NOTHING
			p.txt.closedText
				<br> 
				| 안녕하세요! baeknothing.com에 찾아와주셔서 감사합니다.
				<br> 
				| 아쉽게도 이 페이지는 더 이상 운영하지 않기로 했어요!
				<br>
				| 유니티 클라이언트 개발자로 취업하면서, 
				<br>
				| 게임 개발에 집중하기로 했거든요! 
				| 
			a(href="https://baeknothing.tistory.com/")
				p.txt.closedText_bold
					| https://baeknothing.tistory.com/
					<br>
			p.txt.closedText
				| 대신 이쪽으로 와 보시는 건 어떠세요?
				<br>
				| 유니티.. 파이썬.. 게임 UX.. 등등
				<br>
				| 제가 연구하고 있는 것들을 더 많이 볼 수 있답니다.
				<br>
				<br>
				| 관심을 가져주셔서 고마워요! 다시 볼 수 있으면 좋겠네요.
				<br>
				| 좋은 하루 보내시길 바라요!
			p.txt.mail 연락은 여기로 주세요! -> baeknothing@gmail.com
