extend layout.pug

block content
  body
    div.introduce
      a(href="/")
        h1.btn.txt.title(href="/")=content_title
      p.txt.subtext=texts
    div.introduce.bottom
      div.icons
        a.btn.icon.fa.fa-instagram(href="https://www.instagram.com/baek.nothing/?hl=ko")
        a.btn.fa(href="/introduce")
          i.icon.material-icons person
      p.txt.mail baeknothing@gmail.com
    div.contents
      - var ic = vc = uc = 0;
      
      
    div.loading
      img.loading-image(src="resource/imgs/rocket.gif", alt="loading")
