extend layout.pug

block content
	body
		div.introduce
			a(href="/")
				h1.btn.txt.title(href="/")
					| BAEK. <br> NOTHING
			p.txt.subtext
				| 0 에서 출발해,
				br
				| 단서와 논리를 갖고
				br
				| 스스로 해를 찾아
				br
				| 빠르게 100까지 도달해내는
				br
				| Degital Creator
				br
				| 100 & 0
		div.introduce.bottom
			div.icons
				a.btn.icon.fa.fa-instagram(href="https://www.instagram.com/baek.nothing/?hl=ko")
				a.btn.fa(href="/introduce")
					i.icon.material-icons person
			p.txt.mail baeknothing@gmail.com
		div.contents
			- for (var i = 0; i < contentcount; i++){
				div.content(onclick="location.href ='/content/"+contentlist[i]+"'" style="background-image : url('resource/imgs/thumbnails/"+ contentlist[i] +".png')")
					div.content_black=contentlist[i]
			- }
		div.txt.btn.see_more more
			div.see_more_icon
		div.loading
			img.loading-image(src="resource/imgs/rocket.gif", alt="loading")
