extend layout.pug

block content
  body
    div.introduce
      a(href="/")
        h1.btn.txt.title(href="/")
          | BAEK. <br> NOTHING
      p.txt.subtext
        | 0 에서 출발하여,
        br
        | 단서와 논리를 통해
        br
        | 스스로 해를 찾아
        br
        | 빠르게 100까지 도달해내는
        br
        | Degital Creator
        br
        | 100 & 0
    div.detail_background
      div.detail_div
        p.txt.detail_listhead 1. 소개
        p.txt.detail_txt
          strong 졸업 후 작업물들을 저장하기 위해 제작한 포트폴리오 웹 사이트, 
          | 4월 5일 부터 11일까지 집중적으로 작업했고, 작업하던 도중 좋은 제안이 들어와 팀으로 일하게 되면서 이 프로젝트는 잠시 중단되었다.
          | 이후 12월에 일이 정리된 뒤, 12월 11일까지 남은 부분을 정리하였다.
        p.txt.detail_txt
          | 그러다 12월 말 경, 동료로부터 조금 더 디자인이 정돈되었으면 좋겠다는 피드백을 받았고.. 마침 폴더형 구조를 정리할 때, 각 요소들을 불러오는 부분들이 아쉽다고 생각하고 있었기 때문에
          | 새로 웹페이지를 리뉴얼하게 되면서 만들었던 현재의 페이지는 레거시형태로 보존해 두기로 했다.
        p.txt.detail_txt
          | 현재는 "https://www.baeknothing/2021"에서 확인할 수 있다. 
    div.loading
      img.loading-image(src="/resource/imgs/rocket.gif", alt="loading")
