extends ../ani.pug

block content
  script.
    $('.square').each(function(){
        var x = Math.floor(Math.random() * 6);
        var y = Math.floor(Math.random() * 6);
        //console.log(x);
      $(this).css({
        transform: 'translateX('+ x * 30 +'px) translateY('+ y * 30 +'px)'
      });
    });
    var anime = setInterval(() => {
      $('.square').each(function(){
        
          var x = Math.floor(Math.random() * 6);
          var y = Math.floor(Math.random() * 6);
          //console.log(x);
        $(this).css({
          transform: 'translateX('+ x * 30 +'px) translateY('+ y * 30 +'px)'
        });
      });
    }, 1000);
  style.
    .load{
        position: absolute;
        width: 200px;
        height: 200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .square{
      position: absolute;
      background-color: black;
      width : 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 15px;
      color: white;
      transition: all ease 1s 0s;
    }
    .anitext{
      background-color : white;
      padding: 5px;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    
  div.load
    div.square 
      p T
    div.square 
      p E
    div.square 
      p S
    div.square 
      p T
    div.square 
      p 1
  p.anitext 2021-04-08 "text000"
